

h1{
    height: 350px;
    color: brown;
    text-decoration: underline;
    /* background-size:; */
    background-image: url(../download.jpg);
    /* background-image:url('digital.jpg') */

    
    
}
.much{
    background-color:red;
    border: 401px;
    border-radius: 20px;
    border-width: 30%;
}
span{
    color: blue;
    font-size: small;
}
h2{
    text-decoration: underline;
    color: aqua;
}
/* #box{ */
    /* height: min-content; */
    /* font-weight: 500; */
/* } */
p{
    color: black;
    background-color: wheat;
    font-size:xx-large;
    font-weight: 800;
    /* text-align: center; */
    border:solid;
    /* border-width: 30px; */
    padding: 40px;
    border-radius: 20px;
    /* height: 10px; */
    margin: 30px;
    position:right;
    background-image: url(../digital.jpg);
    tab-size: 40px;
    text-align: right;
    table-layout:fixed;
    


    /* text-shadow: 90px; */

}